{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['bar']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var a = [['denom', 'Coin In']]


        a = a.concat({{values}})
        var data = google.visualization.arrayToDataTable(
        a
        );

        var options = {
          chart: {
            title: 'Coin In by denomination',
            
            series : {
              0 : {color : 'lightgreen', visibleInLegend : true},
            },
                      }
        };

        var chart = new google.charts.Bar(document.getElementById('columnchart_material'));

        chart.draw(data, google.charts.Bar.convertOptions(options));
      }
    </script>
  </head>
  <body>
    <div class="">
      <p>Total coin in for today was {{total}}</p>
    </div>
    <div id="columnchart_material" style="position : absolute; top : 150px; left : 50px;width: 800px; height: 400px;"></div>
  </body>

{% endblock%}
